@charset "utf-8";
@media only screen and (max-width: 650px) {
    h3.info img {
        height: 35px;
        width: 35px;
    }
    h3.info {
        font-weight: 600;
        font-size: 23px;
    }
    .box {
        margin-top: 15px;
        width: 100%;
        height: calc((100vw + 125px - 47px) * 1.2);
        border: 2px solid #0069d9;
    }
    .js--image-preview {
        height: calc((100vw - 47px) * 1.2);
    }
    .upload-options h2 {
        font-size: 27px;
    }
}

@media only screen and (max-width: 400px) {
    h3.info img {
        height: 30px;
        width: 30px;
    }
    h3.info {
        font-weight: 600;
        font-size: 20px;
    }
}