/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Raleway", sans-serif;
    color: #444444;
}

a {
    color: #009961;
}

a:hover {
    color: #00cc81;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact-container h3 {
    margin: 45px 0px;
    font-weight: bold;
    padding: 6px 0px;
    color: rgba(0, 0, 0, 0.632);
}

.contact-container h3::before {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    content: "";
    position: absolute;
    height: 6px;
    top: 85px;
    background-color: #006b77;
    width: 40px;
}

.social-contact {
    margin: 0 auto;
    display: table;
}

.social-contact ul {
    list-style: none;
}

.social-contact a {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    margin: 5px;
    padding: 10px 18px;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.229);
}

.social-contact a i {
    margin-right: 10px;
    font-size: 30px;
}

.social-contact a.facebook:hover {
    background-color: #3b5998;
    color: white;
}

.social-contact a.whatsapp:hover {
    background-color: #00bfa5;
    color: white;
}

.social-contact a.instagram:hover {
    background-color: #d62976;
    color: white;
}

.social-contact a.facebook {
    border: solid 1px #3b5998;
    color: #3b5998;
}

.social-contact a.instagram {
    border: solid 1px #d62976;
    color: #d62976;
}

.social-contact a.whatsapp {
    border: solid 1px #00bfa5;
    color: #00bfa5;
}

.info-contact {
    display: table;
    margin: 0 auto;
}

.info-d:hover h3::before,
.social-d:hover h3::before,
.local-d:hover h3::before {
    width: 80px;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader img {
    height: 40px;
    position: fixed;
    top: calc(50% + 50px);
    left: calc(50% - 20px);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #009961;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #009961;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #009a4f;
    color: #fff;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 25px 0;
    min-height: 60px;
    margin-top: 72px;
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 500;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li a {
    padding: 5px 12px;
    border-radius: 50px;
    background-color: #006b77;
    color: white;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #424242;
    content: "/";
}


/*
* MAIN
*/

.main {
    margin-top: 85px;
}

@media (max-width: 991px) {
    .main {
        margin-top: 70px;
    }
}