/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Raleway", sans-serif;
    color: #444444;
}

a {
    color: #009961;
}

a:hover {
    color: #00cc81;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
    float: left;
    width: 200px;
    margin-top: 50px;
    padding-right: 17px;
}

.sidebar h3 {
    color: rgba(34, 34, 34, 0.715);
    font-size: 20px;
}

.sidebar_section {
    margin-top: 25px;
}

.sidebar li a {
    cursor: pointer;
    padding: 3px 10px;
    margin: 3px 0px;
    width: 100%;
    display: inline-block;
    transition: .2s ease-in-out;
    border-left: 3px solid white;
}

.sidebar li a.active {
    background-color: #009a4f;
    color: white;
    border-radius: 0 50px 50px 0;
}

.sidebar li a.active::after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    height: 12px;
    width: 12px;
    float: right;
    margin-right: 5px;
}

.sidebar li:hover a.active::after {
    content: '\f00d';
}

.sidebar li a:not(.active):hover {
    border-color: #009a4f;
    color: #009a4f;
    letter-spacing: .3px;
}

.sidebar li a.active:hover {
    color: white;
    letter-spacing: .3px;
}

.sidebar_categories {
    margin-left: 5px;
}

.sidebar_title {
    margin: 10px 0px;
}

.sidebar_title a {
    font-weight: 600;
    background-color: #009a4f;
    color: white;
    border-radius: 0 50px 50px 0;
    padding: 8px 15px;
    font-size: 18px;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #009961;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #009961;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #009a4f;
    color: #fff;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 25px 0;
    min-height: 60px;
    margin-top: 72px;
}

@media (max-width: 991px) {
    .breadcrumbs {
        margin-top: 20px;
    }
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 500;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li a {
    padding: 5px 12px;
    border-radius: 50px;
    background-color: #009a4f;
    color: white;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #424242;
    content: "/";
}


/*
* MAIN
*/

.main {
    margin-top: 85px;
    height: 1200px;
}

@media (max-width: 991px) {
    .main {
        margin-top: 70px;
    }
}