/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Raleway", sans-serif;
    color: #444444;
}

a {
    color: #009a4f;
}

a:hover {
    color: #009a4f;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
    float: left;
    width: 200px;
    padding-right: 17px;
}

.sidebar h3 {
    color: rgba(34, 34, 34, 0.715);
    font-size: 20px;
}

.sidebar_section {
    margin-top: 25px;
}

.sidebar li a {
    cursor: pointer;
    padding: 3px 10px;
    margin: 3px 0px;
    width: 100%;
    display: inline-block;
    transition: .2s ease-in-out;
    border-left: 3px solid white;
}

.sidebar li a.active {
    border-color: #ffc100;
    background-color: #ffbf001e;
}

.sidebar li a.active::after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    height: 12px;
    width: 12px;
    float: right;
    margin-right: 5px;
    color: #ffc100;
}

.sidebar li:hover a.active::after {
    content: '\f00d';
}

.sidebar li a:not(.active):hover {
    border-color: #009a4f;
    color: #009a4f;
    letter-spacing: .3px;
}

.sidebar li a.active:hover {
    letter-spacing: .3px;
}

.sidebar_categories {
    margin-left: 5px;
}

.sidebar_title {
    margin: 10px 0px;
}

.sidebar_title a {
    font-weight: 600;
    background-color: #009a4f;
    color: white;
    border-radius: 0 50px 50px 0;
    padding: 8px 15px;
    font-size: 18px;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #009961;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #009961;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #009a4f;
    color: #fff;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 25px 0;
    min-height: 60px;
    margin-top: 72px;
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 500;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li a {
    padding: 5px 12px;
    border-radius: 50px;
    background-color: #009a4f;
    color: white;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #424242;
    content: "/";
}


/*--------------------------------------------------------------
# Produts
--------------------------------------------------------------*/

.products-container {
    margin-top: 70px;
}

.products-list {
    float: left;
    width: calc(100% - 200px);
    padding-left: 30px;
}

.product-block .product-img {
    height: calc(100% - 50px);
}

.product-block .product-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.products-list .product-d {
    padding: 0px 7px
}

.products-list .product-block {
    margin: 5px 0px;
    height: 350px;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.076);
    border: solid 1px rgba(128, 128, 128, 0.176);
    border-radius: 5px;
    position: relative;
}

.product-block .btn-show {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 9;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
}

.product-block .btn-show i {
    margin-right: 10px;
    font-size: 20px;
}

.product-block:hover .btn-show {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.product-block .btn-show a {
    display: flex;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #009a4f;
    color: white;
    font-weight: 600;
}


/*
* MAIN
*/

.main {
    margin-top: 85px;
    height: 1200px;
}

@media (max-width: 1200px) {
    .products-list .product-block {
        margin: 5px 0px;
        height: 350px;
    }
}

@media (max-width: 991px) {
    .main {
        margin-top: 70px;
    }
    .breadcrumbs {
        margin-top: 20px;
    }
    .sidebar {
        width: 100%;
        padding: 0px 50px
    }
    .products-list {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .products-list {
        padding: 0px
    }
}